h1{
    font-size: 29px;
    color: #ffffff;
    text-transform: UPPERCASE;
    font-weight: 310;
    text-align: center;
    margin-bottom: 16px;
}

.content{
    padding: 15px 14px;
    text-align: center;
    font-weight: 540;
    font-size: 14px;
    color: #ffffff;
    text-transform: UPPERCASE;
}

.w3-input{
    border-radius: 5px;
    width: 50% !important;
    text-align: center;
    align-items: center;
    margin: auto;
    border-bottom: 0px solid #ccc !important;
}

table{
    width:100%;
    table-layout: fixed;
}
.tbl-header{
    background-color: rgba(255, 255, 255, 0.479);
}
.tbl-content{
    overflow-x:auto;
    margin-top: 0px;
    border: 1px solid rgba(255,255,255,0.3);
}

th{
    padding: 15px 14px;
    text-align: middle;
    font-weight: 540;
    font-size: 14px;
    color: #ffffff;
    text-transform: UPPERCASE;
}

td{
    padding: 14px;
    text-align: center;
    vertical-align:center;
    font-weight: 310;
    font-size: 13px;
    color: #ffffff;
}  

i{
    color: #ffffff;
}

a{
    color: #ffffff;
}

@import url(https://fonts.googleapis.com/css?family=Roboto:400,500,300,700);
body{
    background: -webkit-linear-gradient(left, #02864f, #01666d);
    background: linear-gradient(to right, #02864f, #01666d);
    font-family: 'Roboto', sans-serif;
}
section{
    margin: 60px;   
}

    ::-webkit-scrollbar {
    width: 7px;
} 
    ::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
} 
    ::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
}   /*Esse aqui no final serve para aparecer a scrollbar quando a lista começar a ter muitos itens.*/

.buttonSize{
    font-size: 17px;
}

button, .styleBotao{
    padding: 18px 30px; /*O primeiro padding aumenta altura, segundo padding aumentar comprimento*/
    font-size: 16px;
    border: none;
    position: relative;/*Fazer o button ficar na posição correta*/
    cursor: pointer;
    /* box-sizing: border-box; */
    overflow: hidden;/*Scrollabr off*/
    background-color: rgb(43, 43, 43);/*cor fundo do botao*/
    border-radius: 5px;/*borda arredondada*/
    min-width: 210px;
    color: #ffffff;
    /* z-index: 0; */
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: all 0.5s;/*Essa transition é para aparecer a cor rosa quando passar o mouse. O tempo é o quanto vai demorar pra aparecer o rosa.*/
}

button, input, .styleBotao {
    overflow: hidden !important;
}

button::before{
    content: "";/*content vazio cria uma "coisa" invisível. Que é o flash branco que irá passar pelo botão.*/
    position: absolute;/*Position absolute vai fazer com que passe por cima do botão sem nenhum dificuldade.*/
    /* display: block; */
    top: 0; /*margin top*/
    left: -50px; /*A "coisa" invisível fica -50px para a esquerda, ficando totalmente escondida de quem vê o botão, aparecendo só quando passa o mouse.*/
    width: 70%;/*Largura da "coisa"*/
    height: 100%;/*Altura da "coisa"*/
    background: linear-gradient(90deg, transparent, #ffffff, transparent);/*Linear gradient para fazer a passada bonita. Pode ter até 4 ou 5 valores, e pode ter diferentes cores. Usei 2 transparents para ficar bonito o efeito no botão.*/
    transition: all 1s;/*Tempo que leva para a "coisa" chegar ao lado direito.*/
    /* z-index: 1; */
    transform: translate(-120px)/*Faz com que se mantenha -120px para a esquerda.*/
    skew(-20deg);/*MUITO IMPORTANTE>>> Faz com que a "coisa" fique em 20degrees, fazendo com que fique com um efeito bonito. Se usar valores diferentes, irá ficar diferente! Exemplo para ter uma noção: 90deg*/
}

button:hover::before{
    transform: translate(300px)/*Faz com que viaje 300px para a direita, fazendo com que passe por todo o button.*/
    skew(-20deg);/*MUITO IMPORTANTE>>> Faz com que a "coisa" fique em 20degrees, fazendo com que fique com um efeito bonito. Se usar valores diferentes, irá ficar diferente! Exemplo para ter uma noção: 90deg*/
}

button:hover{
    background: #109e8be0;/*cor de fundo quando passar o mouse.*/
}

.botaoSim:hover{
    background: #9e1b04e0;/*cor de fundo quando passar o mouse no botão.*/
}
.botaoNao:hover{
    background: #109e8be0;/*cor de fundo quando passar o mouse.*/
}

.msgDeletar{
    margin-bottom: 30px;
    text-align: center;
    width: 100%;
    font-size: 20px;
    font-weight: bolder;
    letter-spacing: 1px;

}

.pagInicial{
    text-align: center;
    width: 100%;
    font-size: 29px;
    font-weight: bolder;
    letter-spacing: 1px;
    margin-top: 9em;
    position: relative;
    line-height: 90px;
}

.sucessoCadastro{
    text-align: center;
    position: absolute;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-top: 17em;
    font-weight: bolder;
    font-size: 35px;
    color: #ffffff;
    letter-spacing: 1px;
}

.msgBottom{
    text-align: center;
    color: lightgreen;
    align-items: center;
    font-family: serif;
    letter-spacing: 3px;
    position: fixed;
    text-align: center;
    bottom: 15px;
    width: 88%;
}
a.msgBottom{
    margin: 0;
    padding: 0;
    width: 159px;
}

.loginHeader{
    font-size: 40px;
    padding-bottom: 41px;
    margin-top: 44px;
}

.sucessoLogin{
    text-align: center;
    position: absolute;
    align-items: center;
    align-content: center;
    width: 100%;
    margin-top: 24.5em;
    font-weight: bolder;
    font-size: 14px;
    color: #000000;
}

.styleBotao::before{
    content: "";/*content vazio cria uma "coisa" invisível. Que é o flash branco que irá passar pelo botão.*/
    position: absolute;/*Position absolute vai fazer com que passe por cima do botão sem nenhum dificuldade.*/
    /* display: block; */
    top: 0; /*margin top*/
    left: -70px; /*A "coisa" invisível fica -50px para a esquerda, ficando totalmente escondida de quem vê o botão, aparecendo só quando passa o mouse.*/
    width: 60%;/*Largura da "coisa"*/
    height: 100%;/*Altura da "coisa"*/
    background: linear-gradient(90deg, transparent, #ffffff, transparent);/*Linear gradient para fazer a passada bonita. Pode ter até 4 ou 5 valores, e pode ter diferentes cores. Usei 2 transparents para ficar bonito o efeito no botão.*/
    transition: all 1s;/*Tempo que leva para a "coisa" chegar ao lado direito.*/
    /* z-index: 1; */
    transform: translate(-120px)/*Faz com que se mantenha -120px para a esquerda.*/
    skew(-20deg);/*MUITO IMPORTANTE>>> Faz com que a "coisa" fique em 20degrees, fazendo com que fique com um efeito bonito. Se usar valores diferentes, irá ficar diferente! Exemplo para ter uma noção: 90deg*/
}

.styleBotao:hover::before{
    transform: translate(350px)/*Faz com que viaje 300px para a direita, fazendo com que passe por todo o button.*/
    skew(-20deg);/*MUITO IMPORTANTE>>> Faz com que a "coisa" fique em 20degrees, fazendo com que fique com um efeito bonito. Se usar valores diferentes, irá ficar diferente! Exemplo para ter uma noção: 90deg*/
}

.styleBotao:hover{
    background: #109e8be0;/*cor de fundo quando passar o mouse.*/
}

.styleBotao{
    text-decoration: none;
}